*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
coverage
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.*.swp

# YARD artifacts
.yardoc
_yardoc
doc/
